body {
    position: relative;
    background: rgba(255, 246, 243, 0.18);
    text-align: center
}
.container {
    position: relative;   
}
button {
    border: 0;
    font-weight: 600;
    font-size: 20px;
    background: transparent;
    padding: 0px 10px 2px;
    color: #7da6fc;
    border: 2px solid #7da6fc;
}
#zoomInBtn {
    color: #a23003;
    border: 2px solid #a23003;
    padding: 0px 7px 1px;
}
img,
canvas,
.container {
    display: block;
    margin: 1em auto;
}
canvas{
    box-shadow: 1px 0 6px #e9e9e987;
    background-color: #fff;
}
#tooltip {
    background: black;
    padding: 10px;
    color: white;
}
